$width: 200px;
$active-color: #b3ff00;
%flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
%text {
    font-weight: 600;
    max-width: 300px;
    text-align: center;
    padding: 0;
    margin: 10px auto;
}
%shadow {
    box-shadow: 0 0 25px black;
}
* {
    padding: 0;
    margin: 0;
}
.App {
    @extend %flex;
    min-height: 100vh;
    padding: 0 5px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: flex-start;
}

.player,
.track__list {
    width: 365px;
    border-radius: 10px;
    @extend %shadow;
    flex-direction: column;
    @extend %flex;
    justify-content: flex-start;
    padding: 20px;
    position: relative;
    box-sizing: border-box;
}
.player {
    z-index: 2;
    min-height: 350px;
}
.container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    @extend %shadow;
    background-color: transparent;
    border-radius: 10px;
    margin-top: 20px;
}
.track {
    &__cover {
        width: $width;
        height: $width;
        border-radius: 10px;
        border: 1px solid black;
        position: relative;
        overflow: hidden;
        @extend %shadow;
        &--small {
            width: 60px;
            height: 60px;
        }
    }
    &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        &--playing {
            -webkit-animation: play 2s linear infinite;
            animation: play 2s linear infinite;
        }
    }
    &__artist {
        font-size: 30px;
        padding-top: 10px;
        text-transform: uppercase;
        @extend %text;
        min-height: 70px;
        &--small {
            min-height: auto;
            padding: 0;
            margin: 0;
            font-size: 15px;
        }
    }
    &__title,
    &__time_current,
    &__time_end {
        @extend %text;
        font-size: 20px;
        &--small {
            padding: 0;
            margin: 0;
            font-size: 10px;
        }
    }
    &__time {
        width: $width + 50px;
        @extend %flex;
        justify-content: space-between;
    }
    &__time p {
        padding: 0;
        margin: 0;
    }
    &__progress {
        width: $width + 50px;
        cursor: pointer;
    }
    &__list {
        z-index: 1;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: flex-start;
        align-items: flex-start;
        overflow: hidden scroll;
        padding: 5px;
        max-height: 185px;
        background-color: #c0d4d4;
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-thumb {
            background: rgb(177, 177, 177);
            border-radius: 5px;
        }
        &::-webkit-scrollbar-track {
            background: rgb(107, 107, 107);
        }
        &__item {
            @extend %flex;
            gap: 20px;
            justify-content: space-between;
            width: 330px;
            border-radius: 10px;
            background-color: azure;
            padding: 10px;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
                background-color: #e0ffff;
            }
        }
        &__info {
            flex-grow: 1;
        }
        &__empty {
            text-align: center;
            padding: 10px;
            font-weight: 700;
            tab-size: 20px;
        }
    }
}
.controls {
    list-style-type: none;
    padding: 0;
    width: $width + 50px;
    @extend %flex;
    justify-content: space-between;
    &__play,
    &__prev,
    &__pause,
    &__next {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: transparent;
        border: none;
        text-align: center;
        transition: 0.1s ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
        &:active {
            transform: scale(0.9);
        }
    }
}
.svg-inline--fa {
    height: 40px;
}

@-webkit-keyframes play {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes play {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.background {
    min-width: 100vw;
    min-height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}
.tooltip {
    z-index: 3;
}
.playing {
    transition: 5s;
    background: linear-gradient(45deg, $active-color 10%, #00ffb3 100%) no-repeat;
    animation: colorChange 20s alternate infinite;
}
.idle {
    transition: 5s;
    background: #00ffb3;
}
@keyframes colorChange {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}
